<div class="container">
    <div class="item">
        <label for="counter">Enter Timer Limit</label>
        <input type="number" id="counter" name="counter" [(ngModel)]="counter" class="input">
    </div>
    <div class="button item">
        <button type="submit" (click)="startCounter()" *ngIf="toggleButton" >Start</button>
        <button type="submit" (click)="pauseCounter()" *ngIf="!toggleButton">Pause</button>
        <button type="reset" (click)="resetCounter()">Reset</button>
    </div>
</div>

<div *ngFor="let timer of pausedTimeArray" class="pausedStatus">
    <div>Paused at {{timer}}</div>
</div>