<div class="container">
    <div class="item">
        <app-countdown-timer-output [counterTimer]="counterTime" [counterStatus]="counterStatus">
        </app-countdown-timer-output>
    </div>
    <div class="item">
        <app-countdown-timer-input (counterTimeEvent)="getCounterTime($event)"
            (counterStatusEvent)="getCounterStatus($event)"></app-countdown-timer-input>
    </div>
    <div class="item2">
        <app-countdown-timer-logs [counterStatus]="counterStatus"></app-countdown-timer-logs>
    </div>
    <div class="item2">
        <app-countdown-timer-clicks-count [counterStatus]="counterStatus"></app-countdown-timer-clicks-count>
    </div>
</div>