
@for $i from 0 through 7 {
    .div#{$i} {
        width:#{95 - $i * 4}vw;
        border: 2px solid black;
        position: relative;
        height: #{95 - $i * 10}vh;
        top:4.5vh;
        left:2vw;
    }
  }

.div0{
    top: 0px;
    left: 0px;
}

h1{
    padding: 20px;
}

