div{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}

button{
    position: relative;
    left: 60px;
    top: 90px;
    cursor: pointer;
    border-radius: 2px;
}

button:hover{
    border-radius: 2px;
    background-color: cadetblue;
}