.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid black;
    height: 93vh;
}

.item{
    flex-basis: 45%;
    border: 2px solid black;
    height: 45vh;
    margin: 35px 30px;
}

.item2{
    flex-basis: 45%;
    height: 25vh;
    margin: 35px 30px;
}
